<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="$safeprojectname$.Service1" >
        <endpoint address="http://localhost:7890/Service1" binding="basicHttpBinding"
                  contract="$safeprojectname$.IService1" />
      </service>
    </services>
  </system.serviceModel>
</configuration>