<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="HybridService.Wcf.Example.ServiceExample" >
        <endpoint address="http://localhost:7890/ServiceExample" binding="basicHttpBinding"
                  contract="HybridService.Wcf.Example.Contract.IServiceExample" />
      </service>
    </services>
  </system.serviceModel>
</configuration>